* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}
.htmlCss {
  padding: 1em;
  justify-content: space-between;
  background: #0e0e0e;
  color: white;
  width: 350px;
  height: 100vh;
}
.inputwrap textarea {
  background: none;
  color: white;
  height: 500px;
  font: inherit;
}

.inputwrap {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}
.inputwrap input {
  margin-left: 0.5em;
  font-family: monospace;
  background: #1d1d1b;
  padding: 0 1em;
  width: 60px;
  border: none;
  border-radius: 3px;
  color: white;
  height: 40px;
  font: inherit;
}
.htmlInput,
.cssInput {
  margin-bottom: 1.25em;
}
.resultlink {
  background: #307eff;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  margin-top: 2em;
}

.result {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
}

.preview {
  padding: 1em;
}
